<% @flights.each do |flight| %>
  <section id="flight-<%= flight.number %>">
    <h2>Flight <%= flight.number %></h2>
    <h4>Passengers:</h4>
    <% flight.passengers.each do |passenger| %>
      <p><%= passenger.name %></p>
    <% end %>
  </section>
<% end %>
